<hr />
<article class="blog-post">
  <h1>{{title}}</h1>
  {{pretty-date date}} by {{post.user.email}}
  {{#link-to 'post.remove' post}} delete {{/link-to}}
  {{#link-to 'post.edit' post}} edit {{/link-to}}
  
  <p>{{yield}}</p>
</article>
