<div class="post-preview">
    {{#link-to 'post.view' post}}
        <h2 class="post-title">
            {{post.title}}
            {{#link-to 'post.remove' post}} delete {{/link-to}}
            {{#link-to 'post.edit' post}} edit {{/link-to}}
        </h2>
        <h3 class="post-subtitle">
            {{post.subtitle}}
        </h3>
    {{/link-to}}
    <p class="post-meta">Posted by <a href="#">{{post.user.email}}</a> on {{pretty-date post.date}}</p>

</div>
<hr />
